.all-teams-header {
    margin-top: 25px;
    margin-bottom: 20px;
}

.team-div{
    margin-top: 15px;
}

.team-name{
    margin-bottom: 0px;
    color: #212D40;
    text-align: center;
}

.inner-team-div{
    border: 1px solid #212D40;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding: 10px;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}