@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Rubik:wght@400;600&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none !important;
}

body {
  font-family: 'Noto Sans KR', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}